* {
  margin: 0%;
  padding: 0%;
}

.ExpenseForm-container {
  padding: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  min-height: 100vh;
  /* background: rgb(235, 225, 225); */
  background-color: inherit;
}
.ExpenseForm {
  display: flex;
  margin: 1% auto;
  flex-direction: column;
  width: 50%;
  padding: 23px 23px;
  background: inherit;
  box-shadow: 0px 0px 20px rgba(231, 126, 126, 0.3);
  border-radius: 4px;
}
/* #dark .ExpenseForm {
  background: #8c47a6;
  color: #f7f0fa;
} */
.ExpenseForm label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.ExpenseForm input,
.ExpenseForm select {
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border: 0.5px solid rgba(139, 130, 135, 0.8);
  border-radius: 0.25rem;
  font-size: 1rem;
}
.ExpenseForm button {
  width: 100%;

  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background: #5dc413;
  font-weight: 500;
  font-size: 14px;
  border-radius: 20px;

  border: 1px solid transparent;

  letter-spacing: 0.5px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .ExpenseForm-container {
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* height: 100vh; */
    min-height: auto;
    /* background: rgb(235, 225, 225); */
    background-color: inherit;
  }
  .ExpenseForm {
    display: flex;
    margin: 1% auto;
    flex-direction: column;
    width: 100%;
    padding: 30px 30px;
    background: inherit;
    box-shadow: 0px 0px 20px rgba(231, 126, 126, 0.3);
    border-radius: 4px;
  }
}
